.database {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  &__userDisplay {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__save {
    display: flex;
    justify-content: center;
  }
}
